/* line 5, ../sass/main.scss */
* {
  border: 1px solid white;
  box-sizing: border-box;
}

/* line 8, ../sass/main.scss */
body {
  background-color: slategrey;
}

/* line 12, ../sass/main.scss */
.floor-tile {
  height: 10px;
  width: 10px;
  box-sizing: border-box;
  display: inline-flex;
  background-color: floralwhite;
}

/* line 20, ../sass/main.scss */
.wall-tile {
  height: 10px;
  width: 10px;
  background-color: gray;
}

/* line 26, ../sass/main.scss */
.dungeon-room {
  padding: 0;
  position: relative;
  display: inline-block;
  flex-flow: row nowrap;
  box-sizing: border-box;
  flex: 1 1 auto;
  border: none;
  margin: 100px 5px;
}

/* line 37, ../sass/main.scss */
.room-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  border: none;
  align-items: flex-start;
  flex-flow: row nowrap;
}

/* line 48, ../sass/main.scss */
.dungeon-crawler {
  display: inline-block;
}
